<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.SchoolMobile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/SchoolMobile"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Falta"></activity>
        <activity android:name=".Turmas" />
        <activity android:name=".Disciplina_Info_Page_Docente" />
        <activity android:name=".DisciplinasPage_Docente" />
        <activity android:name=".HorarioPageDocente" />
        <activity
            android:name=".HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Disciplina_Info_Page"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DiaHorario"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EmentaPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Search_Messages"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DisciplinasPage_Aluno"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HorarioPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Messages"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginPage"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>